node_modules/
tsconfig.*
lib/**/*.js
lib/**/*.d.ts
.jsii
dist
docs
__pycache__
.venv
.tox
tests/*.egg*
tests/*venv*
tests/__pycache__
integration_tests/cdk/cdk.out
integration_tests/cdk/stack_outputs.json
integration_tests/cdk/temp_stack_outputs.json
