name: Distribute

on:
  release:
    types:
      - released

jobs:
  package:
    uses: ./.github/workflows/build.yaml

  distribute-python:
    runs-on: ubuntu-latest
    needs: package
    steps:

      - uses: actions/download-artifact@v4
        with:
          name: python
          path: dist

      - run: pip install "twine>=6.1.0" "packaging>=24.2"

      - run: twine upload dist/*
        env:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}

  distribute-js:
    runs-on: ubuntu-latest
    needs: package
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: js
          path: dist

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: "https://registry.npmjs.org"

      - run: npm publish dist/*
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
