name: Distribute

on:
  release:
    types:
      - released
      - prereleased

jobs:
  package:
    uses: ./.github/workflows/build.yaml

  distribute-python:
    runs-on: ubuntu-latest
    needs: package
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: python
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/

  distribute-js:
    runs-on: ubuntu-latest
    needs: package
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: js
          path: dist

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"

      - name: Update npm to the latest version
        run: npm install -g npm@latest

      - name: Check npm version
        run: npm -v

      - name: Publish to npm
        run: npm publish dist/* --provenance --access public
