name: Tox

on:
  push:

jobs:
  test:
    env:
      AWS_DEFAULT_REGION: us-west-2
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.12]
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install Tox and any other packages
        run: pip install tox

      - name: Run Tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py
